@import "variables";
@import "page.module.scss";

.circled_radio {
  @extend .circle;

  cursor: pointer;

  label {
    cursor: pointer;

    &:active {
      background-color: $clr-light-grey;
    }
  }

  input {
    display: none;
    // This should be working if I put 'checked' susscessfully to the input
    &:active,
    &:focus {
      background-color: $clr-light-grey;
    }
  }

  &:hover {
    background-color: $clr-primary;

    span {
      color: $clr-white;
    }
  }
}
