@import "variables";
@import "page.module.scss";

.circled_radio {
  @extend .circle;

  cursor: pointer;

  label {
    cursor: pointer;

    &:active
    {
      background-color: $clr-light-grey;
    }
  }

  input {
    display: none;

    &:active + label,
    &:focus + label {
      background-color: $clr-light-grey;
    }
  }

  &:hover {
    background-color: $clr-primary;

    span {
      color: $clr-white;
    }
  }
}
