/**========================================================================
 *!                           General Styles
 *========================================================================**/

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
@import "variables";



.page {
  min-height: 100vh;

  font-family: $ff-primary;
  font-size: $fs;
  font-weight: $fw-400;
  color: $clr-white;
  background-color: $clr-black;

  p,
  span {
    font-weight: $fw-400;
    color: $clr-light-grey;
  }

  .card {
    max-width: 350px;
    width: 90%;

    background-color: $clr-very-dark-blue;
    background-image: linear-gradient(
      to bottom,
      $clr-dark-blue,
      $clr-very-dark-blue
    );
  }

  button {
    color: $clr-white;

    &.submit {
      background-color: $clr-primary;
      font-weight: $fw-700;
      letter-spacing: 2px;
      text-transform: uppercase;
      width: 100%;

      span {
        color: $clr-white;
      }

      &:hover {
        background-color: $clr-white;

        span {
          color: $clr-primary;
        }
      }
    }
  }
}
