@import "variables";

.page {
  min-height: 100vh;

  font-family: $ff-primary;
  color: $clr-white;
  background-color: $clr-black;

  p,
  span {
    font-size: $fs;
    font-weight: $fw-400;
    color: $clr-light-grey;
  }

  .card {
    max-width: 350px;
    width: 90%;

    background-color: $clr-very-dark-blue;
    background-image: linear-gradient(
      to bottom,
      $clr-dark-blue,
      $clr-very-dark-blue
    );
  }

  button {
    color: $clr-white;

    &.submit {
      background-color: $clr-primary;
      font-weight: $fw-700;
      letter-spacing: 2px;
      text-transform: uppercase;
      width: 100%;

      span {
        color: $clr-white;
        font-weight: $fw-700;
      }

      &:hover {
        background-color: $clr-white;

        span {
          color: $clr-primary;
        }
      }

      // This is not asked on the challenge, but I think it's a good idea to have a disabled state
      &:disabled {
        background-color: $clr-light-grey;
        cursor: not-allowed;

        span {
          color: $clr-white;
        }
      }
    }
  }
}

.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 42px;

  background-color: $clr-dark-blue;
  border-radius: 50%;
}
